@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-pricipal: "Inter", sans-serif;
}
*{
    margin:0;
    padding: 0;
    
}
body{
    background-color: var(--cor-de-fundo);
    color:var(--branco-principal);
    font-family: var(--fonte-pricipal);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url(./imgs/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container {
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}
.container_botao{
    background-color: #167BF7;
    text-decoration: none;
    border-radius: 8px;
    color:var(--branco-principal);
    padding: 16px;
    display: block;
    margin-bottom: 1em;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container_aviso{
    font-size: 12px;
    color:var(--cinza-secundario);
}
.container_titulo{
    font-size: 28px;
    font-weight: 700;
}
.container_img{
    margin: 1em 0 2em 0;
}
.container_caixa{
    margin:0 6em;
}
.secundario_img{
    width: 80%;
}
.secundario{
    align-items: center;
    margin: 0 10em;
}
.descricao_titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao_texto{
    color:var(--cinza-secundario);
}
.secundario_botao{
    display: inline-block;
    margin-top: 1em;
}
.container_descricao{
    padding: 2m;
}
.dispositivos_lista{
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos{
    text-align: center;
}
.dispositivos_titulo{
    font-size: 48px;
    color:var(--branco-principal);
}
.lista_item{
    font-size: 32px;
    color:var(--branco-principal);
   
}